body {
    background: url("bakery.png");
    background-size: 100%;
}

header {
    background: url("vegetables.png");
    background-size: cover;
    width: 100%;
    margin: 0;
    height: 250px;
    border: 2px solid black;
}

.addNew {
    width: 100%;
    background: url("vegetables2.jpg");
    background-size: cover;
}

h1 {
    border-radius: 3px;
   margin-top: 20px;
   margin-left: 20px;
   width: 400px;
   background: rgba(255,255,255,0.5);
}

h4 {
    margin-left: 50px;
    /*margin-top: 20px;*/
}

.counter {
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-left: 20px;
    width: 250px;
}

.table1 {
    background: rgba(255,255,255,0.6);
    border-radius: 3px;
    width: 800px;
}

.table2 {
    width: 900px;
}

.input {
    padding-top: 20px;
    width: 800px;
    margin: 20px;
}

td {
    border-radius: 3px;
    border: 1px solid black;
}

.main {
    padding: 20px;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.4);
    width: 900px;
}

.id{
    margin-left: 20px;
    width: 30px;
}

.select {
    margin-left: 50px;
}

.desc {
    margin-left: 30px;
    width: 150px;
}

.cal {
    margin-left: 100px;
    width: 150px;
}

.date {
    margin-left: 80px;
    width: 200px;
}

.save {
    margin-left: 30px;
}

.edit {
    height: 30px;
}

.button {
    border: none;
}

.back {
    margin-left: 30px;
}