<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Calorie Counter - Add meals</title>
</head>
<body>
    <header class="addNew">
        <h1>Calorie Counter - Add meals</h1>
        <h2 class="counter" th:text="|Number of meals: | + ${count}"></h2>
        <form th:action="@{/back}">
            <button class="back" type="submit" value="Back">Back</button>
        </form>
    </header>
    <div class="main">
        <h4 th:text="${log}"></h4>
        <div class="input">
        <form method="post" th:action="@{/addMeal}">
            <select th:name="type">
                <option>Choose type</option>
                <option th:each="temp : ${types}" th:text="${temp.type}"></option>
            </select>
            <input th:type="text" th:name="description" placeholder="enter description"/>
            <input th:type="text" th:name="calories" placeholder="enter calories"/>
            <input th:type="submit" value="Add"/>
        </form>
        </div>
        <table class="table1">
            <tr class="firstRow">
                <th>ID</th>
                <th>TYPE</th>
                <th>DESCRIPTION</th>
                <th>CALORIES(kcal)</th>
                <th>DATE</th>
            </tr>
            <tr class="list" th:each="temp : ${table}">
                <td th:text="${temp.id}"></td>
                <td th:text="${temp.type}"></td>
                <td th:text="${temp.description}"></td>
                <td th:text="${temp.calories}"></td>
                <td th:text="${temp.timestamp}"></td>
                <td class="button">
                    <form th:action="@{/update?upID=} + ${temp.id}" th:object="${table}" method="post">
                        <input type="submit" th:name="upID" value="Edit"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>