<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Calorie Counter - Edit</title>
</head>
<body>
<header class="addNew">
    <h1>Calorie Counter - Edit</h1>
    <h2 class="counter" th:text="|Number of meals: | + ${count}"></h2>
    <form th:action="@{/back}">
        <button class="back" type="submit" value="Back">Back</button>
    </form>
</header>
<div class="main">
    <table class="table1">
        <tr class="firstRow">
            <th>ID</th>
            <th>TYPE</th>
            <th>DESCRIPTION</th>
            <th>CALORIES(kcal)</th>
            <th>DATE</th>
        </tr>
    </table>
    <table class="table2">
        <tr class="edit">
            <form class="list" th:each="temp : ${table}" th:action="@{/editor?upID=} + ${temp.id}" th:object="${table}" method="post" th:if="${#numbers.formatInteger(param.upID,3)} == ${#numbers.formatInteger(temp.id,3)}">
                <span class="id" th:text="${temp.id}"></span>
              <select class="select" th:name="type">
                <option>Choose type</option>
                <option th:each="temp : ${types}" th:value="${temp.type}" th:text="${temp.type}"></option>
              </select>
              <input class="desc" th:value="${temp.description}" th:name="description"/>
              <input class="cal" th:value="${temp.calories}" th:name="calories"/>
              <span class="date" th:text="${temp.date}"></span>
              <input class="save" type="submit" th:name="upID" value="Save"/>
           </form>
        </tr>
    </table>
</div>
</body>
</html>