<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <title>Calorie Counter</title>
</head>
<body>
  <header>
    <h1>Calorie Counter</h1>
      <h2 class="counter" th:text="|Number of meals: | + ${count}"></h2>
      <h2 class="counter" th:text="|Total calories: | + ${total}"></h2>
  </header>
  <div class="main">
      <div class="input">
      <form th:action="@{/add}">
          <button type="submit" value="Add new meals">Add new meals</button>
      </form>
      </div>
      <table class="table1">
          <tr class="firstRow">
              <th>ID</th>
              <th>TYPE</th>
              <th>DESCRIPTION</th>
              <th>CALORIES(kcal)</th>
              <th>DATE</th>
          </tr>
          <tr class="list" th:each="temp : ${table}">
              <td th:text="${temp.id}"></td>
              <td th:text="${temp.type}"></td>
              <td th:text="${temp.description}"></td>
              <td th:text="${temp.calories}"></td>
              <td th:text="${temp.timestamp}"></td>
              <td class="button">
                  <form th:action="@{/delete?delID=} + ${temp.id}" th:object="${table}" method="post">
                      <input type="submit" th:name="delID" value="Delete"/>
                  </form>
              </td>
              <td class="button">
              <form th:action="@{/update?upID=} + ${temp.id}" th:object="${table}" method="post">
                  <input type="submit" th:name="upID" value="Edit"/>
              </form>
              </td>
          </tr>
      </table>
  </div>
</body>
</html>